@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.heading span {
  font-size: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
}
.heading p {
  font-size: 1rem;
}
.hr {
  height: 2px;
  width: 200px;
  background-color: slateblue;
  margin: 0 auto;
}
.xem-them {
  position: absolute;
  width: 90px;
  right: 5%;
  padding-bottom: 2rem;
}
#admin .heading h4{
  text-align: center;
}
#admin .form-control:focus{
  box-shadow: none; 
}
svg{
  vertical-align: baseline;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  border: none !important;
}
.ant-layout-sider{
  min-height: 100vh;
}